## Banco de dados
### Usando SQLite com Python

Vamos criar um banco de dados usando o Python com o SGBD SQLite

In [29]:
# vamos excluir o banco de dados caso ele exista
import os

os.remove("escola.db") if os.path.exists("escola.db") else None

In [30]:
# importar o módulo do SQLite

import sqlite3

In [31]:
# criar uma conexao com o banco caso ele exista, caso contrário é criado

con = sqlite3.connect('escola.db')

In [32]:
type(con)

sqlite3.Connection

In [33]:
# para percorrer registros de tabelas de bancos de dados
# criamos um cursor, antes mesmo de criar o banco
# pois é diferente da conexão, onde nos conectamos ao arquivo para
# poder alterá-lo

cur = con.cursor()

In [34]:
type(cur)

sqlite3.Cursor

In [35]:
# um comando sql sendo armanazenado em uma variavel do tipo string

sql_create = "create table cursos (id integer primary key, titulo varchar (100), categoria varchar (140))"

In [36]:
cur.execute(sql_create)

In [37]:
sql_insertion = "insert into cursos values (? , ?, ?)"

In [38]:
dados = [
    (100, 'Analise e Desenvolvimento de Sistemas', 'Tecnologia'),
    (101, 'Gestao de Tecnologia da Informação', 'Tecnologia'),
    (102, 'Processos Quimicos', 'Ciencia')
]

In [39]:
for each in dados:
    cur.execute(sql_insertion, each)

In [40]:
# outra forma de inserir

cur.execute("INSERT INTO cursos VALUES (103, 'Engenharia da Computação', 'Engenharia')")

In [41]:
# outra forma de inserir, pode usar variaveis tambem

cur.execute("INSERT INTO cursos VALUES (?, ?, ?)", (104, 'Engenharia Elétrica', 'Engenharia'))

In [42]:
# grava a transação caso a conexão com o banco de dados caia
con.commit()

In [53]:
# uma das formas de demonstrar 

sql_select = "select * from cursos"

In [54]:
# executando o código do select precisamos dar um fetchall(), o qual podemos inseri-lo em uma variavel

cur.execute(sql_select)
data = cur.fetchall()

In [55]:
for linha in data:
    print(linha)

(100, 'Analise e Desenvolvimento de Sistemas', 'Tecnologia')
(101, 'Gestao de Tecnologia da Informação', 'Tecnologia')
(102, 'Processos Quimicos', 'Ciencia')
(103, 'Engenharia da Computação', 'Engenharia')
(105, 'Engenharia Elétrica', 'Engenharia')

In [48]:
# retornando apenas a coluna da categoria
cur.execute("SELECT * FROM cursos")
for linha in cur.fetchall():
    print(linha[2])

Tecnologia
Tecnologia
Ciencia
Engenharia
Engenharia

In [50]:
# outra maneira apenas usando o código SQL
cur.execute("SELECT categoria FROM cursos")
for linha in cur.fetchall():
    print(linha)

('Tecnologia',)
('Tecnologia',)
('Ciencia',)
('Engenharia',)
('Engenharia',)

In [51]:
cur.execute("SELECT * FROM cursos WHERE categoria='Engenharia'")
for linha in cur.fetchall():
    print(linha)

(103, 'Engenharia da Computação', 'Engenharia')
(104, 'Engenharia Elétrica', 'Engenharia')

In [52]:
# atualizando dados

cur.execute("UPDATE cursos SET id= 105 WHERE id = 104")
con.commit()

In [56]:
# excluindo dados

cur.execute("DELETE FROM cursos WHERE id=105")
con.commit()

In [ ]:
con.close()