## Banco de dados
### Usando SQLite com Python

Vamos criar um banco de dados usando o Python com o SGBD SQLite

In [2]:
# vamos excluir o banco de dados caso ele exista
import os

os.remove("escola.db") if os.path.exists("escola.db") else None

In [3]:
# importar o módulo do SQLite

import sqlite3

In [4]:
# criar uma conexao com o banco caso ele exista, caso contrário é criado

con = sqlite3.connect('escola.db')

In [5]:
type(con)

sqlite3.Connection

In [7]:
# para percorrer registros de tabelas de bancos de dados
# criamos um cursor, antes mesmo de criar o banco
# pois é diferente da conexão, onde nos conectamos ao arquivo para
# poder alterá-lo

cur = con.cursor()

In [8]:
type(cur)

sqlite3.Cursor

In [9]:
# um comando sql sendo armanazenado em uma variavel do tipo string

sql_create = "create table cursos (id integer primary key, titulo varchar (100), categoria varchar (140))"

In [10]:
cur.execute(sql_create)

In [20]:
sql_insertion = "insert into cursos values (? , ?, ?)"

In [21]:
dados = [
    (100, 'Analise e Desenvolvimento de Sistemas', 'Tecnologia'),
    (101, 'Gestao de Tecnologia da Informação', 'Tecnologia'),
    (102, 'Processos Quimicos', 'Ciencia')
]

In [23]:
for each in dados:
    cur.execute(sql_insertion, each)

IntegrityError: UNIQUE constraint failed: cursos.id

In [26]:
# grava a transação caso a conexão com o banco de dados caia
con.commit()

In [27]:
sql_select = "select * from cursos"

In [33]:
cur.execute(sql_select)
data = cur.fetchall()

ProgrammingError: Cannot operate on a closed database.

In [31]:
for linha in data:
    print(linha)

(100, 'Analise e Desenvolvimento de Sistemas', 'Tecnologia')
(101, 'Gestao de Tecnologia da Informação', 'Tecnologia')
(102, 'Processos Quimicos', 'Ciencia')

In [32]:
con.close()